/* You can implement your own css code*/

#passwd_result{
	background:#FF9900;
	color:#FFFFFF;
	font-weight:bold;
	margin-right:60%;
}

#upload_result{
	background:#CC3300;
	color:#FFFFFF;
	font-weight:bold;
	margin-right:60%;
}

button {
     background:none!important;
     color:inherit;
     border:none; 
     padding:0!important;
     font: inherit;
     /*border is optional*/
     border-bottom:1px solid #444; 
     cursor: pointer;
}
